:root {
  --btn-NFT-color: #1D2532;
  --btn-NFT-color-disabled: rgba(36, 36, 36, 50);
  --btn-cabinet-color: #FFFFFF;
  --btn-cabinet-color-hover: #C3F33B;
  --btn-cabinet-color-active: rgba(224, 255, 172, 0.5);
}